#!/usr/bin/env bash

# {{ template "scripts-library" }}
ensure_path_entry "${HOME}/.local/share/pnpm"
ensure_path_entry "${HOME}/.local/bin"

# pipx - latest version
if ! command -v pipx &> /dev/null
then
  echo "Installing pipx..."
  python3 -m pip install --user pipx
  python3 -m pipx ensurepath
fi

# PNPM
if ! command -v pnpm &> /dev/null
then
  echo "Installing pnpm..."
  curl -fsSL https://get.pnpm.io/install.sh | sh -
fi
